<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Black.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Boxes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CPUMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>InnerSpace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ItJustStopped.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Neko.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>NickSpace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PSOperations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Polyhedra.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Qix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Space.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Spor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>140964B316DDD6440046127D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>140964C316DDD6560046127D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>140964D616DDD78D0046127D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>140964F716DDE06C0046127D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14183ABB16CDB44300959AD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14183AD016CFE58E00959AD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1454349716C0A87F00451337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>145434A716C0A8C900451337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>146B851D17AABD3A0044594A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>146B854117AB09870044594A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1489D40516E3E97A0079FC70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1489D42D16E3F0600079FC70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1489D44716E3F33B0079FC70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1489D46016E3F97A0079FC70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1489D47A16E41D3A0079FC70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1489D48A16E41D470079FC70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14A055AF16EEDE7E00352C72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14A327AF145C6F7D00BD4F94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14FDB8F21503FEF7007CE238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
